@import url("photographer.css");
:root {
  --primary-color: #901c1c;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: var(--primary-color);
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section a {
  text-align: center;
}

.photographer_section .card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section .card-title {
  color: #d3573c;
  font-size: 36px;
  margin: 10px 0 0 0;
  padding: 5px;
}

.photographer_section .card-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}

.photographer_section p {
  margin: 0;
  padding: 5px;
}
.country_photographer {
  color: var(--primary-color);
}
